@use "./utils";

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem !important;
  font-family: "Commissioner", sans-serif;
  padding-bottom: 1.5rem;

  @media (min-width: 36em) {
    padding-bottom: 5rem;
  }
}

nav,
a {
  color: inherit !important;
}
